

.breadcrumbs {
    padding: 30px;
    margin:0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
}

.breadcrumbs__item{
    display:inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after{
    content: '\203a';
    margin: 0 5px;
    color: lightgrey;
}
.breadcrumbs__link {
    text-decoration: none;
    color:darkgrey;
    

}
.breadcrumbs__link:hover {
    text-decoration: underline;
    
    
}
.breadcrumbs__link--active {
    color: orange;
    
}

/*
body {

    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 60px 1fr;

}

.header {
padding: 10px;
font-family: 'Roboto', sans-serif;
font-size: 60;
text-align: center;
background-color: rgb(255, 255, 255);
grid-column: 1 / 3;
grid-row: 1 / 2;


}

.sidebar {

    background-color: rgb(61, 54, 54);

    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.main {
    
    background-color: rgb(182, 182, 182);
    padding: 100px;
    grid-column: 1 / 3;
    grid-row: 3 /3 ;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px;


}

.breadmenu {
    
    background-color: white;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.card {
    background-color: #f6f7f9;
    border-radius:10px;
    width: 324;
    max-height: 425;
    
}
*/



.container {

    background:#333;
    padding:15px 9%;
    padding-bottom: 100px;
    height: 100vh;
    
}

.container .heading{
text-align:center;
padding-bottom: 15px;
color:#fff;
text-shadow: 0 5px 10px rgba(0,0,0,.2);
font-size: 50px;

}
.heading{
    text-align:center;
    color:black;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    
    }

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,300px));
    gap:30px;
    justify-content: center;
 
    
  
    
}
.container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
    justify-items: center;
    font-weight: bold;
}


.container .box-container .box img{
    height: 80px;
    
}

.container .box-container .box h3{
    color: #444;
    font-size: 22px;
    padding: 10px 0;
    font-family: 'Roboto', sans-serif;
    
}
.box{
    border: double;
}
.container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height:1.8;
    font-family: 'Roboto', sans-serif;
    
}
.container .box-container .box .btn{
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    font-family: 'Roboto', sans-serif;
    

}

.container .box-container .box .btn:hover {
    letter-spacing: 1px;
    color: orange;

    
    
}

.container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.02);
}

.footer{
    width:1fr;
    height:100px;
    border-radius: 4px;
    background: rgb(241, 241, 241);
    padding:10px;
    color:#333;
    list-style-type: none;
}